* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
    --color-accent-dark: #213931;
}

html {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
}